@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 1px solid lightgrey; */
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #3a3a3a;
  --color-bg-black: #111111;
  --color-white: #fefefe;
  --color-primary: #7634d8;
  --color-danger: rgb(249, 84, 84);
}

.main-color {
  background: var(--color-primary);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white);
  background: var(--color-bg-black);
}

.app {
  margin: 32px;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 32px 0;
}

.search-input,
.main-form * {
  margin: 16px 0;
  resize: none;
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid var(--color-bg-dark);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color-white);
}

.search-input {
  margin: 0;
  width: 80%;
}

.empty-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  text-align: right;
}

.notes {
  display: flex;
  padding: 16px 0;
  gap: 16px;
  place-content: start;
  flex-wrap: wrap;
}

.note {
  width: 192px;
  max-width: calc(50% - 8px);
  border-radius: 5px;
  background: var(--color-primary);
}

.note * {
  display: block;
  padding: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
}

button {
  padding: 16px;
  border-radius: 5px;
  color: var(--color-white);
  background: var(--color-bg-dark);
}
